body {
    background-color: #a3b89e;
}

h1 {
    font-family: Garamond, serif;
}

#weekly-tasks {
    margin: 20px;
    border: 1px solid #ddd;
}

#goal-form {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#goal-form label {
    display: block;
    margin-bottom: 5px;
}

#goal-form input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#goal-btn {
    margin-top: 10px;
}

#goal-message {
    margin-top: 10px;
    color: green;
}